.left-arrow{
    display: flex;
    position: absolute;
    margin: 60vh 0 0 95vh;
    color: white;
    font-size: 3vh;
}
.right-arrow{
    display: flex;
    position: absolute;
    margin: 60vh  0 0 115vh;
    color:white;
    font-size: 3vh;
}


.slider{
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.image{
    width: 80vh;
    height: 50vh;
    border-radius: 10px;
    margin-top: 60px;
    position: relative;
}
#img1{
    transform: translateX(40%) scale(0.8);
    
}
#img2{
    z-index: 100;
    box-shadow: 5px 5px 18px #888888;
}
#img3{
    transform: translateX(-40%) scale(0.8);
}
.circle{
    display: flex;
    position: relative;
    margin: 1vh 0 0 40rem;
}
.circle span{
    font-size: 5rem;
    color: antiquewhite;
}
span:nth-child(2){
    color: aqua;
}
@media screen and (max-width:767px) {
    .left-arrow{ position: absolute;
        margin: 61vh 0 0 60vh;
    }
    .right-arrow{
        margin: 61vh  0 0 78vh; 
    }
    .image{
        width: 50vh; 
    }
    .circle{
        
        position: absolute;
        margin: 0 0 0 22rem;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .left-arrow{ position: absolute;
        margin: 61vh 0 0 63vh;
    }
    .right-arrow{
        margin: 61vh  0 0 80vh; 
    }
    .slider{
        margin-left: 100px
    }
    .image{
        width: 60vh;
      
    }
    .circle{
        display: flex;
        position: relative;
        margin: 0 0 0 23rem;
    }
}
