
.left{
    display: flex;
    position: absolute;
    margin: 60vh 0 0 97vh;
    color: white;
    font-size: 3vh;
}
.right{
    display: flex;
    position: absolute;
    margin: 60vh  0 0 119vh;
    color:white;
    font-size: 3vh;
}
.slider2{
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-perspective: 600px;
}
.Timage{
    width: 50vh;
    height: 50vh;
    border-radius: 10px;
    margin-top: 60px;
    
}
#Timg1{
    transform: translateX(120%) scale(0.8) rotateY(45deg) ;
    z-index: -1;
    
      
}
#Timg2{
    transform: translateX(60%) scale(0.8) rotateY(35deg) ;
    
}

#Timg3{
    z-index: 1;
    
}
#Timg4{
    transform: translateX(-60%) scale(0.8) rotateY(-35deg) ;
    
}
#Timg5{
    transform: translateX(-120%) scale(0.8) rotateY(-45deg) ;
    z-index: -1;
}
.circle{
    display: flex;
    position: absolute;
    margin: 0 0 0 40rem;
}
.circle span{
    font-size: 5rem;
    color: antiquewhite;
}
span:nth-child(1){
    color: aqua;
}