
#scroll-ourteam::-webkit-scrollbar{
    width: 7px;
}
#scroll-ourteam::-webkit-scrollbar-track {
    background: transparent;
}
#scroll-ourteam::-webkit-scrollbar-thumb {
    background: rgba(192, 192, 192, 0.25);
    border-radius: 100vw;
}

#scroll-ourteam::-webkit-scrollbar-thumb:hover {
    background: silver;
}
